{% assign copyname = site.data.authors[site.owner].name %}{% capture copyright %}Copyright &copy; 2009 - {{ site.time | date: '%Y' }} {{ copyname }}{% endcapture %}
        </section><!-- #content -->
      </div>
            
      <footer id="page-footer" itemscope itemtype="//schema.org/WPFooter">
        <hr />
        {% include partials/social.html %}
        <small class='copyright'>{{ copyright }}</small> &nbsp; &nbsp; | &nbsp; &nbsp; 
        <small class='site-meta'>Powered by <a href='//jekyllrb.com/' title='Jekyll &bull; Simple, blog-aware, static sites'>Jekyll</a> &amp; Hosted at <a href='//pages.gitlab.io' title='GitLab'>GitLab</a></small>
      </footer><!-- #page-footer -->
    </div><!-- #container -->
        
    {% include partials/foot-scripts.html %}
  </body>
</html>