<!DOCTYPE html>{% capture title %}{% if page.title == "Home" %} {{ site.name }} | {{ site.description }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}{% endcapture %}{% capture description %}{% if page.title == 'Home' %}{{ site.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 40 }}{% endif %}{% endcapture %}{% if page.author %}{% assign auth = site.data.authors[page.author] %}{% else %}{% assign auth = site.data.authors[site.owner] %}{% endif %}
<html xmlns:fb='//ogp.me/ns/fb#' xmlns:og='//ogp.me/ns#' lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>{{title}}</title>
    <meta name='description' content="{{description}}">
    <meta name='author' content="{{auth.name}}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel='stylesheet' href='{{site.baseurl}}/assets/css/main.min.css'>
    <link rel='alternate' href='{{site.baseurl}}/feed.xml' type='application/rss+xml' title='{{ site.name }}'>
    <link rel='author' href="https://plus.google.com/{{auth.google}}">
    <link rel='canonical' href="{{site.url}}{{page.url}}">
    
    <script src='{{site.baseurl}}/assets/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js'></script>
        
    <meta property='og:type' content='article'>
    <meta property='og:title' content="{{title}}">
    <meta property='og:description' content="{{description}}">
    <meta property='og:url' content="{{site.url}}{{page.url}}">
    <meta property='og:site_name' content="{{site.name}}">
    
    <meta name='twitter:card' content="summary">
    <meta name='twitter:title' content="{{title}}">
    <meta name='twitter:description' content="{{description}}">
    <meta name='twitter:url' content="{{site.url}}{{page.url}}">
    <meta name='twitter:creator' content="{{auth.twitter}}">
    <meta name='twitter:site:id' content="{{auth.twitter}}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HYMZMX79HP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HYMZMX79HP');
    </script>
  </head>

  <body>
    <div id='container'>
      <header id='page-header' role='banner' itemscope itemtype='//schema.org/WPHeader'>
        <hgroup>
          <h1 class='site-title'>{{site.name}}</h1>
          {% if site.description %}<h2 class='site-description'>{{site.description}}</h2>{% endif %}
        </hgroup>
        {% include nav.html %}
      </header><!-- #page-header -->
      
      <div>
        <section id='content' role='main' itemscope itemtype='//schema.org/WebPage'>