{% capture start_month %}{{ post.start | date: "%B" }}{% endcapture %}{% capture end_month %}{{ post.end | date: "%B" }}{% endcapture %}{% capture start %}{% if start_month == end_month %}{{ post.start | date: "%d" }}{% else %}{{ post.start | date: "%d %B" }}{% endif %}{% endcapture %}{% capture thumb %}{% if post.image %}<img src='{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' />{% endif %}{% if post.flickimg %}{% flickr_image post.flickimg %}{% endif %}{% endcapture %}
            <article itemscope itemtype='//schema.org/ImageGallery' class='album'>
              <a href='{{post.url}}' title='{{post.title}}' class='img'>{{thumb}}</a>
              <h4><a href='{{post.url}}'>{{post.title}}</a></h4>
              <footer class='meta'>
                {% if post.start %}<time content='{{ post.start | date: '%F' }}' datetime='{{ post.start }}'> {{ start }}</time>{% if post.end %} - <time content='{{ post.end | date: '%F' }}' datetime='{{ post.end }}'> {{ post.end | date: "%d %B" }}</time>{% endif %}{% else %}{% if post.date %}<time itemprop='datePublished' content='{{ post.date | date: '%F' }}' datetime='{{ post.date }}'> {{ post.date | date: "%d %b %Y" }}</time>{% endif %}{% endif %}
              </footer>
            </article>