{% include head.html %}
          <article itemscope itemtype="//schema.org/BlogPosting" class="post single format-image">
            <header>
              {% include partials/post-nav.html %}
              <h2 itemProp="headline">{{ page.title }}</h2>
              {% assign post = page %}{% include partials/meta.html %}
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {% if post.image %}<img src='{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' class='aligncentre' />{% endif %}
              {% if post.flickimg %}{% flickr_image post.flickimg aligncentre d %}{% endif %}
              {% if page.series %}{% series_list %}{% endif %}{{ content }}
            </section><!-- .post-content -->
            
            <footer>
              {% include partials/post-nav.html %}
              {% if page.comments %}<div id="disqus_thread"></div>{% endif %}
            </footer>
          </article><!-- .post.single.format-image -->
{% include foot.html %}