{% include head.html %}
          <article itemscope itemtype="//schema.org/BlogPosting" class="post single format-link">
            <header>
              {% include partials/post-nav.html %}
              <h2 itemProp="headline">{{ page.title }}</h2>
              {% assign post = page %}{% include partials/meta.html %}
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {% if post.link %}<a href='{{ post.link }}' title='{{ post.title }}' class='link' />{{ post.title }}</a>{% endif %}{{ content }}
            </section><!-- .post-content -->
            
            <footer>
              {% include partials/post-nav.html %}
              {% if page.comments %}<div id="disqus_thread"></div>{% endif %}
            </footer>
          </article><!-- .post.single.format-image -->
{% include foot.html %}