{% include head.html %}
            
          <article itemscope itemtype="//schema.org/Article" class="page">
            <header>
              <h2 itemProp="headline">{{ page.title }}</h2>
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {{ content }}
            </section><!-- .post-content -->
            
            <footer>              
              {% if page.comments %}
              <div id="disqus_thread"></div> 
              {% endif %}
            </footer>
          </article><!-- .page -->
        
{% include foot.html %}