{% include head.html %}
          <article itemscope itemtype="//schema.org/BlogPosting" class="post single format-video">
            <header>
              {% include partials/post-nav.html %}
              <h2 itemProp="headline">{{ page.title }}</h2>
              {% assign post = page %}{% include partials/meta.html %}
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {% oembed https://www.youtube.com/watch?v={{page.video}}&rel=0 width=560 height=315 %}
              {% if page.series %}{% series_list %}{% endif %}{{ content }}
            </section><!-- .post-content -->
            
            <footer>
              {% include partials/post-nav.html %}
              {% if page.comments %}<div id="disqus_thread"></div>{% endif %}
            </footer>
          </article><!-- .post.single.format-video -->
{% include foot.html %}